.card-container{
  box-shadow: 0 0 20px 5px #48abe0;
}
.p-knob-value{


  color:  black !important;
  background-color: black !important;
  stroke: black;

}

.p-slider .p-slider-range {
  background: black !important;
}
.p-slider .p-slider-handle{
  
  background: black !important;

  border: 2px solid #00000067 !important;
}